@layer components {
  .link-underline {
    display: inline-block;
    position: relative;
  }

  .link-underline::after {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.2, 0.9, 0.4, 1.1);
    background-color: var(--color-purple);
    width: 0;
    height: 1.5px;
    content: "";
  }

  .link-underline:hover::after {
    width: 100%;
  }
}
