@layer components {
  #mobile-menu {
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.4, 1.1);
  }

  #mobile-menu.open {
    transform: translateX(0);
  }

  .menu-overlay {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .menu-overlay.show {
    display: block !important;
    opacity: 1;
  }
}
